html{
  width: 1500px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;

}
.header{
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0 0 30px 0;
}
.header-logo{
  margin: 24px 0 0 20px;
}
.header-list{
  display: flex;
}
.header-list-item{
  margin: 40px 32px 40px 0px;
}

li a{
  text-decoration: none;
  color: gray;
}

.first-view{
    position: relative;
    padding-bottom: 100px;
}
.first-view-img{
  display: block;
  width: 65%;
  margin: 0 0 0 auto;
}
.text{
  position: absolute;
  top: 20%;
  left: 15%;
}
.main-h1{
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
  color: 	#C71585;
  margin-bottom: 60px;
  line-height: 100px;
}
.h1-span{
  color: #20B2AA;
}
.main-h2{
  font-size: 28px;
  font-weight: bold;
  color: #C71585;
}
.h2-span{
  color: #20B2AA;
}
.main-p{
  line-height: 24px;
}

.news{
  width: 100%;
  border: blue;
  color: rgb(53, 53, 53);
  margin-bottom: 64px;
}
.news-title{
  width: 60%;
  font-size: 24px;
  font-weight: bold;
  border-bottom: solid 1px 	#787c80;
  margin: 0 20%;
  padding: 0 0 24px 0;
}
.news-items{
  display: flex;
  width: 60%;
  margin: 16px auto;
  padding: 8px;
  border-bottom: solid 1px #d4d4d4;
}
.news-items p{
  margin-right: 16px;
}
.news-color{
  color: #fff;
  width: auto;
  padding: 4px 16px;
  border-radius: 20px;
  background: #C71585;
}

.About{
  width: 100%;
  height: 440px;
  background-color: rgb(247, 247, 247);
  /* border: solid red; */
}
.about{
  text-align: center;
  margin-bottom: 48px;
}
.about-small{
  font-family: 'Indie Flower', cursive;
  padding: 16px 0;
  color: red;
}
.about-title{
  color: #787c80;
  font-size: 32px;
}
.about-img{
  width: 25%;
}
.card-content{
  display: flex;
  justify-content: center;
}
.about-text{
  margin-right: 15%;
  line-height: 24px;
  font-size: 16px;
  color: #808080;
}

.service{
  margin: 60px auto;
}
.service-title{
  margin: auto 20% 40px;
}
.small-service{
  font-family: 'Indie Flower', cursive;
  margin: 8px 0;
  color: red;
}
.service-title-h2{
  font-size: 24px;
  font-weight: bold;
  color: #787c80;
}
.grid{
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 20% 30% 30% 20%;
  color: #fff;
}
.box-left{
  background: #C71585;
  grid-column: 2/3;
  grid-row: 1/3;
}
.left-img{
  display: block;
  width: 25%;
  margin: 8px auto 4px;
}
.box-title{
  margin: 24px auto 16px;
}
.box-text{
  line-height: 24px;
}
.box-title-left{
  text-align: center;
}
.box-text-left{
  margin: auto 56px;
}
.right-img{
  width: 30%;
}
.box-top{
  display: flex;
  background: #af4c4c;
  grid-row: 1/2;
  grid-column: 3/4;
}
.box-under{
  display: flex;
  background-color: #836767;
  grid-column: 3/4;
  grid-row: 2/3;
}

.blog{
  background: #f1f1f1;
  padding-bottom: 24px;
}
.blog-title-small{
  font-family: 'Indie Flower', cursive;
  padding-top: 16px;
  margin: 32px auto 16px 12%;
  color: red;
}
.blog-title-big{
  margin-left: 12%;
  font-size: 24px;
  color: #787c80;
}
.blog-flex{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.blog-img img{
  width: 100%;
  height: auto;
  border-radius: 16px;
}
.card{
  width: 20%;
  margin-right: 5%;
  border-radius: 16px;
  background: #fff;
  position: relative;
}
.blog-box-title{
  border-radius: 16px 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  background: #C71585;
  color: #fff;
  padding: 8px 16px;
}
.blog-text-box{
  line-height: 24px;
  color: #787c80;
}
.blog-text{
  font-size: 16px;
  font-weight: bold;
  margin: 0 6%;
}
.blog-tag{
  display: flex;
  justify-content: space-between;
  font-size: 8px;
}
.date{
  margin: 24px auto 16px 10%;
}
.tag-item{
  margin: 24px 10% 16px auto;
}
.blog-btn{
  width: 15%;
  margin: 16px auto;
  padding: 16px 32px;
  text-align: center;
  border: solid 2px #C71585;
  border-radius: 40px;
}
.blog-btn a{
  text-decoration: none;
  color: #C71585;
}

.table{
  width: 80%;
  margin: 48px auto 48px 20%;
  background: red;
}
.table-title{
  margin: 40px auto;
}
.table-title-small{
  font-family: 'Indie Flower', cursive;
  color: red;
}
.table-title-big{
  font-size: 24px;
  color: #787c80;
}
table,tr,th,td{
  border: 1px solid black;
}
th,td{
  text-align: left;
  padding: 16px;
  color: #383838;
}
th{
  background-color: #f1f1f1;
}
td{
  padding-right: 400px;
}

.img-zone{
  display: flex;
}
.information{
  position: relative;
}
.information-text{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}
.information img{
  width: 100%;
}
.interview{
  position: relative;
}
.interview img{
  width: 100%;
}
.interview-text{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.form{
  padding-top: 32px;
  text-align: center;
}
.form-text{
  font-size: 16px;
  color: #808080;
}
.line{
  border-right: solid 1px red;
  width: 50%;
  height: 32px;
  margin: 16px 0;
}
/* .input-text{
  margin:  16px auto;
  height: 40px;
  border: none;
  caret-color: pink;
} */
.form-btn a{
  position: relative;
  background: linear-gradient(90deg,rgb(255, 136, 156),rgb(255, 0, 55));
  width: 15%;
  margin: 24px 16px 24px 0;
  padding: 24px 0;
  display: block;
  text-decoration: none;
  border-radius: 40px;
  margin: 0 auto;
  color: #fff;
  box-shadow:0 8px 3px #af4c4c;
}
.form-btn a::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 3%;
  background: url(../img/mailicon.svg)no-repeat;
  background-size: auto;
  width: 20%;
  height: 50%;
  transform: translate(0,-50%);
}

.footer{
  text-align: center;
  width: 100%;
  height: 32px;
  margin-top: 40px;
  padding: 24px 0;
  background-color: #d4d4d4;
}